.navBarWrap {
  margin-bottom: 20px;
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  background-color: #0cb7f2;
  border-bottom: 3px solid #53d4ff;
}

// .navBarLinks {
// }

// .navbar-link {
//   color: #fff;
//   font-weight: bolder;
//   font-size: larger;
// }

.logo > img {
  width: 70px;
  height: 50px;
}
.logoImg {
  margin-right: 5px;
}
