body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: "Segoe UI", Trebuchet MS, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  background-color: #1e1e1e;
}

.center {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  //align-items: center;
  width: 100%;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #0cb7f2;
  border: 3px solid #53d4ff;
  color: #1e1e1e;
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  flex: 1 0 auto;
}

.directorTitleWrap,
.genreTitleWrap {
  width: 100%;
}

.titleElement {
  color: white;
}

.filterWrap {
  width: 100%;
}
// Originals
//background-color: #0cb7f2;
//border: 3px solid #53d4ff;
//color: #1e1e1e;

// 2º Option
//background-color: #bce7ff;
//border: 3px solid #bce7ff;
