//It is the 'mainWrap' inside of the mainView

.center {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  //align-items: center;
  width: 100%;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #0cb7f2;
  border: 3px solid #53d4ff;
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  flex: 1 0 auto;
}
