.value {
  color: #1e1e1e;
  font-size: large;
  font-weight: 500;
}

.titleElement {
  color: #fff;
  font-size: large;
  font-weight: 500;
  margin: 13px;
}

.documentary {
  a {
    color: #1e1e1e;
    font-size: large;
    font-weight: 500;
    margin: 5px;
  }
}
